@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body{
    background-color: var(--Light-gray);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'outfit', sans-serif;
}

.container{
    width: 310px;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    background-color: var(--White);
}

.container img{
    width: 100%;
    border-radius: 10px;
}

.container h2{
    margin-block: 1rem;
}

.container p{
    margin-inline: 1rem;
    margin-bottom: 1rem;
    font-size: 15px;
    color: hsla(220, 15%, 55%,0.9);
}
